imblearn==0.13.0
joblib==1.4.2
matplotlib==3.10.0
numpy==2.0.2
pandas==2.2.2
seaborn==0.13.2
session_info==v1.0.1
sklearn==1.6.1
IPython==8.12.3
jupyter_client==6.1.12
jupyter_core==5.7.2
notebook==6.5.7
